In [166]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.pandas.set_option('display.max_columns', None)

In [167]:
data = pd.read_csv("Data_Files/adult.csv")

In [168]:
df = data.copy()

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [170]:
df.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K

In [171]:
df = df.replace('?', np.nan)

In [172]:
df.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,>50K

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [174]:
df.rename(columns = {'education.num':'education_num', 'marital.status':'marital_status', 
                              'capital.gain':'capital_gain', 'capital.loss':'capital_loss', 'hours.per.week':'hours_per_week',
                    'native.country':'native_country'}, inplace = True)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [176]:
df.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,>50K

In [177]:
df1=df.copy()

In [178]:
df1.dropna(inplace=True)

In [179]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 1 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int64
 3   education       30162 non-null  object
 4   education_num   30162 non-null  int64
 5   marital_status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   sex             30162 non-null  object
 10  capital_gain    30162 non-null  int64
 11  capital_loss    30162 non-null  int64
 12  hours_per_week  30162 non-null  int64
 13  native_country  30162 non-null  object
 14  income          30162 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [180]:
df1=pd.get_dummies(df1, prefix='WC_', columns=['workclass'])
df1=pd.get_dummies(df1, prefix='ED_', columns=['education'])
df1=pd.get_dummies(df1, prefix='MS_', columns=['marital_status'])
df1=pd.get_dummies(df1, prefix='OC_', columns=['occupation'])
df1=pd.get_dummies(df1, prefix='RS_', columns=['relationship'])
df1=pd.get_dummies(df1, prefix='RACE_', columns=['race'])
df1=pd.get_dummies(df1, prefix='NC_', columns=['native_country'])

In [181]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 1 to 32560
Columns: 104 entries, age to NC__Yugoslavia
dtypes: int64(6), object(2), uint8(96)
memory usage: 4.8+ MB

In [182]:
df1.replace(to_replace ="<=50K", 
                 value ="1", inplace=True) 
df1.replace(to_replace =">50K", 
                 value ="2", inplace=True)

In [183]:
df1 = df1.astype({"income": int})

In [184]:
df1.income.dtype

dtype('int32')

In [185]:
df1.sex.value_counts()

Male      20380
Female     9782
Name: sex, dtype: int64

In [186]:
df1.replace(to_replace ="Male", 
                 value ="1", inplace=True) 
df1.replace(to_replace ="Female", 
                 value ="2", inplace=True)

In [187]:
df1 = df1.astype({"sex": int})

In [188]:
df1.sex.dtype

dtype('int32')

In [189]:
y=df1.income

In [190]:
from sklearn.model_selection import train_test_split

In [191]:
X_train, X_test, y_train, y_test = train_test_split(df1, y, test_size=0.20, random_state=1)

In [192]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(24129, 104)
(6033, 104)
(24129,)
(6033,)

In [193]:
X_t = X_train.drop(['income'], axis = 1)

In [194]:
X_t.shape

(24129, 103)

In [195]:
#Using Pearson Correlation
cor = X_train.corr()

In [196]:
#Correlation with output variable
cor_target = abs(cor["income"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.13]
relevant_features

age                       0.241599
education_num             0.332058
sex                       0.219992
capital_gain              0.217751
capital_loss              0.151919
hours_per_week            0.228226
income                    1.000000
WC__Self-emp-inc          0.136054
ED__Bachelors             0.176087
ED__Doctorate             0.132063
ED__HS-grad               0.133012
ED__Masters               0.175526
ED__Prof-school           0.152462
MS__Divorced              0.137302
MS__Married-civ-spouse    0.449585
MS__Never-married         0.319467
OC__Exec-managerial       0.210889
OC__Other-service         0.165326
OC__Prof-specialty        0.179038
RS__Husband               0.406438
RS__Not-in-family         0.196845
RS__Own-child             0.225602
RS__Unmarried             0.147873
Name: income, dtype: float64

In [197]:
relevant_features1=['age', 'education_num','sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'ED__Bachelors',
                    'WC__Self-emp-inc', 'ED__Doctorate', 'ED__Masters', 'ED__HS-grad', 'ED__Prof-school', 
                    'MS__Married-civ-spouse', 'MS__Divorced', 'MS__Never-married','RS__Husband', 
                    'RS__Not-in-family', 'RS__Own-child', 'RS__Unmarried', 
                    'OC__Exec-managerial', 'OC__Other-service', 'OC__Prof-specialty']

In [198]:
X_t1 = X_t[relevant_features1]

In [199]:
X_t1.shape

(24129, 22)

In [200]:
X_tes=X_test.drop(['income'], axis=1)

In [201]:
X_tes.shape

(6033, 103)

In [202]:
X_tes1 = X_tes[relevant_features1]

In [203]:
X_tes1.shape

(6033, 22)

In [204]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [205]:
## Methood 1..
clf = LinearRegression()
clf.fit(X_t1, y_train)
y_pred_linear=clf.predict(X_tes1)
acc_linear=round( clf.score(X_t1, y_train) * 100, 2)
print ('scorbe:'+str(acc_linear) + ' percent')

scorbe:35.33 percent

In [206]:
clf = RandomForestRegressor(n_estimators=100)
clf.fit(X_t1, y_train)
y_pred_rf=clf.predict(X_tes1)
acc_rf= round(clf.score(X_t1, y_train) * 100, 2)
print ("Accuracy: %i %% \n"%acc_rf)

Accuracy: 76 %

In [207]:
clf=DecisionTreeRegressor()
clf.fit(X_t1, y_train)
y_pred_dt= clf.predict(X_tes1)
acc_dt = round( clf.score(X_t1, y_train) * 100, 2)
print (str(acc_dt) + ' percent')

81.16 percent

In [209]:
y_pred_dt.shape

(6033,)

In [208]:
y_test.shape

(6033,)

### Mean Absolute Error

In [215]:
from sklearn.metrics import mean_absolute_error

In [223]:
error = mean_absolute_error(y_test, y_pred_dt)

In [224]:
error

0.19284744792254088